body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 160px;
}

#calculator{
    border: 2px solid rgb(118, 116, 116);
    border-radius:10px;
    min-height: 270px;
    max-width: 246px;
    background-color: white;
}

.screen{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    max-width: 246px;
    min-height: 70px;
    font-family: 'Rubik', sans-serif;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    background-color: rgb(54, 49, 64);
}

.screen p{
    user-select: none;
}

#display{
    padding-right: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

.row{
    display:flex;
}

#zero{
width: 122px;
border-bottom-left-radius: 8px;
border-left: none;
border-bottom: none;
}

#dot{
    border-bottom: none;
}

#equals{
    border-bottom: none;
    border-right: none;
    border-bottom-right-radius: 8px;
    background-color: rgb(255, 153, 0)
}

.buttons{
    display:flex;
    flex-direction: row;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  rgb(54, 49, 64);
    height: 50px;
    width: 60px;
    text-align: center;
    line-height: 10px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: rgb(92, 80, 103);
    font-size: 21px;
    
}

.button p{
    padding-top: 2px;
    user-select: none;
}

.operator{
    background-color: rgb(255, 153, 0);
}

.function{
    background-color: rgb(73, 62, 91);
}

#left_edge{
    border-left: none;
}

#clear{
    border-left: none;
}

#plus{
    border-right: none;
}

#mulitply{
    border-right: none;
}

#divide{
    border-right: none;
}

#minus{
    border-right: none;
}